bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.env
.idea
.config
seq_data
logs
StreamKey.sln.DotSettings.user
**/dist
**/node_modules
ssl
postgres_data
keys
**/Migrations
/StreamKey.Api/appsettings.Development.json