services:
  streamkey-api:
    image: streamkey-api
    build:
      context: .
      dockerfile: StreamKey.Api/Dockerfile
    restart: unless-stopped
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5555
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://seq:5341
      - OTEL_SERVICE_NAME=StreamKey.API
      - OTEL_EXPORTER_OTLP_HEADERS=X-Seq-ApiKey=${SEQ_API_KEY}
      - DOTNET_GCServer:1
      - DOTNET_EnableDiagnostics:0
      - DOTNET_SYSTEM_NET_SOCKETS_THREAD_COUNT=16
      - ASPNETCORE_THREADPOOL_MINTHREADS=200
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    env_file:
      - .env
    ports:
      - "5555:5555" # TODO
    depends_on:
      postgres:
        condition: service_healthy
      seq:
        condition: service_started
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5555/health || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - ./keys:/root/.aspnet/DataProtection-Keys
    networks:
      - internal
  
  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432" # TODO
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - internal
  
  camoufox:
    image: eridani137/camoufox:latest
    #    image: camoufox
    #    build:
    #      context: .
    #      dockerfile: Camoufox/Dockerfile
    restart: unless-stopped
    expose:
      - "8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 15s
      timeout: 5s
      retries: 3
    networks:
      - internal

  seq:
    image: datalust/seq:latest
    restart: unless-stopped
    volumes:
      - seq-data:/data
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=Qwerty123_
      - SEQ_OPENTELEMETRY_ENABLED=True
    networks:
      - internal

  nginx:
    image: nginx:latest
    restart: unless-stopped
    network_mode: host
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./files:/app/files:ro
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    depends_on:
      streamkey-api:
        condition: service_healthy

networks:
  internal:
    driver: bridge

volumes:
  db-data:
  seq-data: